#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home h1 {
  font-size: 2.8em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.subtitle {
  font-size: 1.2em;
  color: #888;
}
